# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- List Popular tools for Data Science
- Introduce arithemtic

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. matplotlib

| Data Science Tools |
|--------------------|
| Google Colab |
| Spark |
| Jupyter | 
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python
* 1**2
* 100//4
* 37 % 4

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author:
Kate Liechty